<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="vehicle-details-tab" data-toggle="pill" href="#vehicle-details" role="tab"
      aria-controls="vehicle-details" aria-selected="true">Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="vehicle-photos-tab" data-toggle="pill" href="#vehicle-photos" role="tab"
      aria-controls="vehicle-photos" aria-selected="false">Photos</a>
  </li>
</ul>
<div class="tab-content" *ngIf="vehicle" id="pills-tabContent">
  <div class="tab-pane fade show active" id="vehicle-details" role="tabpanel" aria-labelledby="vehicle-details-tab">
    <h2>Basics</h2>
    <ul>
      <li>Model: {{vehicle.model.name}} </li>
      <li>Make:{{vehicle.make.name}} </li>
      <li *ngIf="vehicle.isRegistered">Registered: Yes</li>
      <li *ngIf="!vehicle.isRegistered">Registered: No</li>
    </ul>
    <h2> Features</h2>
    <ul *ngFor="let feature of vehicle.features">
      <li>Feature: {{feature.name}} </li>
    </ul>
    <button *ngIf="authService.isAuthenticated()" type="button" class="btn btn-primary  m-2" (click)="redirect()">Edit</button>
    <button *ngIf="vehicle.id && authService.isAuthenticated()" class="btn btn-danger" type="button" (click)="delete()">Delete</button>
  </div>
  <div class="tab-pane fade" id="vehicle-photos" role="tabpanel" aria-labelledby="vehicle-photos-tab">
    <h2>Photos</h2>   
    <ng-progress></ng-progress>
    <input *ngIf="authService.isAuthenticated()" type="file" id=file (change)="uploadPhoto()" #fileInput>
    <img *ngFor="let photo of photos" src="/uploads/{{photo.fileName}}" class="img-thumbnail">
  </div>
</div>