<nav *ngIf="totalItems > pageSize">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{'disabled': currentPage == 1}">
      <a class="page-link" (click)="previous()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" [ngClass]="{active: currentPage == page}" *ngFor="let page of pages" >
      <a class="page-link" (click)="changePage(page)">{{ page }}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled: currentPage == pages.length}">
      <a class="page-link" (click)="next()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>